* {
	box-sizing: border-box;
}
body {
	background: #f5f7fa;
	color: #3c3b3d;
	margin: 0;
	overflow-y: auto;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 700;
}
button {
	background: white;
	border: 2px solid #3c3b3d;
	border-radius: 10px;
	color: inherit;
	padding: 5px 10px;
	font: inherit;
	font-size: 16px;
	height: 40px;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
}
button:hover {
	background: rgba(0, 0, 0, 0.15);
}
button[disabled] {
	border-color: rgba(0, 0, 0, 0.15);
	color: rgba(0, 0, 0, 0.15);
	background: rgba(0, 0, 0, 0.15);
}
button.showsettings,
button.showhelp {
	border-radius: 20px;
	height: 40px;
	width: 40px;
	padding: 0;
	font-size: 20px;
	margin: 0;
}
button.active {
	background: grey;
}
button.inactive {
	background: white;
}
svg {
	display: inline-block;
	vertical-align: middle;
}
.board {
	width: min(800px, 100%);
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}
.titlebar {
	display: flex;
	justify-content: space-between;
	width: min(95%);
	height: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", sans-serif;
	/* font-family: Charcoal, fantasy; */
	font-weight: 9000;
	font-size: 30px;
	height: 40px;
}
.subtitle {
	text-align: center;
	font: inherit;
	font-size: 20px;
	padding: 5px;
}
.setup {
	display: flex;
	justify-items: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	width: min(360px, 85%);
	height: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 50px;
}
.infobox {
	display: flex;
	justify-content: space-between;
	background: white;
	width: 110px;
	height: 40px;
	border: 3px solid #3c3b3d;
	border-radius: 8px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	font: inherit;
}
.infotxt {
	text-align: right;
	padding: 5px;
	height: 35px;
}
.infoval {
	width: 70px;
	text-align: center;
	padding: 5px;
	height: 35px;
}
.settingstab,
.helptab {
	position: absolute;
	overflow: auto;
	top: 15px;
	left: 50%;
	width: min(500px, 90%);
	height: 635px;
	transform: translate(-50%, 0);
	background-color: #a0cecb;
	z-index: 100;
	border: 3px solid #3c3b3d;
	border-radius: 8px;
	text-align: center;
	padding: 20px;
	font: inherit;
	font-size: 16px;
}
::-webkit-scrollbar {
	width: 12px;
	/* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
	background: grey;
	/* color of the tracking area */
}
::-webkit-scrollbar-thumb {
	background-color: white;
	/* color of the scroll thumb */
	border-radius: 20px;
	/* roundness of the scroll thumb */
	border: 3px solid #3c3b3d;
	/* creates padding around scroll thumb */
}
* {
	/* for firefox */
	scrollbar-width: thin;
	scrollbar-color: #3c3b3d grey;
}
.copyright {
	position: absolute;
	transform: translate(-50%, 0);
	width: min(250px, 80%);
	font-size: 12px;
	bottom: 10px;
	left: 50%;
}
.container {
	max-width: 95%;
	max-height: calc(100vh - 220px);
	margin: auto;
	aspect-ratio: 15/21;
	background: grey;
	display: grid;
	gap: 2px;
	padding: 2px;
}
.cell {
	grid-row-end: span 1;
	grid-column-end: span 1;
	font-size: min(18px, 3vw);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.cell.add {
	background-color: aqua;
}
.cell.sub {
	background-color: pink;
}
.cell.divide {
	background-color: lightgreen;
}
.cell.empty {
	background-color: gray;
}
.cell.traveled {
	background-color: yellow;
}
.cell.active {
	background-color: red;
}
.cell.hidden {
	background-color: lightgray !important;
	color: lightgray !important;
}
.cell:not(.hidden) {
	animation: bkgrd 2s normal;
}
@keyframes bkgrd {
	from {
		background-color: darkgray;
		color: darkgray;
	}
}

.cell.active span.tooltip {
	font-size: 30px;
	transform: translate(-50%, -50%);
	position: absolute;
	bottom: 60%;
	background-color: red;
	min-width: 50px;
	color: #fff;
	text-align: center;
	padding: 5px;
	border-radius: 6px;
	visibility: visible;
	z-index: 50;
}
.cell.active span.tooltip::after {
	content: "";
	position: absolute;
	top: 95%;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: red transparent transparent transparent;
}
.cell.active span.tooltip.center {
	left: 50%;
}
.cell.active span.tooltip.center::after {
	left: 50%;
}
.cell.active span.tooltip.right {
	left: -30%;
}
.cell.active span.tooltip.right::after {
	left: 75%;
}
.cell.active span.tooltip.left {
	left: 130%;
}
.cell.active span.tooltip.left::after {
	left: 25%;
}
.cell.traveled span.tooltip {
	position: absolute;
	visibility: hidden;
}

.swipeme {
	position: absolute;
	display: none;
	align-items: center;
	justify-content: center;
	text-align: center;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	font-size: 10vw;
	background: white;
	opacity: 50%;
	z-index: 100;
}
